

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 48px;
  background-color: lightcyan;
  box-sizing: border-box;
  border: 8px solid blue;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 380px;
  background-color: moccasin;
  box-sizing: border-box;
  border: 8px solid chocolate;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flex-content {
  flex-grow: 1;
  background-color: palegoldenrod;
  box-sizing: border-box;
  border: 8px solid green;
}

.fixed-content {
  height: 128px;
  background-color: thistle;
  box-sizing: border-box;
  border: 8px solid darkmagenta;
}